body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 40px 0;
    line-height: 1.6;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

main {
    max-width: 900px;       
    margin: 0 auto; 
    /* 左右自动留空，实现居中 */
    padding: 0 20px;        
    /* 左右内边距，防止贴边 */
}

h2 {
    font-size: 20px;
    margin-top: 40px;
}

p {
    font-size: 16px;
    color: #333;
    margin: 15px 30px; 
    text-align: justify;
}

section {
    margin-bottom: 60px;
}

.video {
    margin: 15px 0;
    padding: 0;
}

.video iframe {
    width: 100%;
    height: 360px;
    border: none;
}

img {
    display: block;   
    margin: 20px auto 0 auto; 
    max-width: 100%;
    height: auto;
}