body {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  background-color: #f7f7f7;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
}

#canvas-holder {
  margin: 0 auto;
  text-align: center;
}

canvas {
  margin-top: 10px;
  border-radius: 30px;
}

.intro {
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  line-height: 1.5;
  font-size: 14px;
  color: #696868;
}

.doc-title {
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.doc-block {
  margin-bottom: 50px;
}

.doc-img {
  width: 100%;
  max-width: 690px;
  display: block;
  margin: 0 auto;
}

.caption {
  text-align: flex;
  margin-top: 8px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 12px;
  color: #696868;
}