* {
  box-sizing: border-box;
}

/* Base */
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 40px 0;
  line-height: 1.6;
  color: #000000;
  background: #fff;
}

.page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px; /* left and right padding */
}

/* 1 Page title */
.page-title {
  font-size: 36px;
  text-align: center;
  margin: 0 0 40px 0;
}

/* Space between Sketch and Documentation */
.movement {
  margin-bottom: 80px;
}

/* Documentation */
.section-title {
  font-size: 24px;
  text-align: center;
  margin: 0 0 20px 0;  /* Space between Documentation and below img */
  padding-left: 30px; 
}

/* Sketch */
.sketch-holder {
  display: flex;
  justify-content: center;
}

.sketch-holder canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 900px;
  display: block;
}

/* 3 Content */
.content {
  margin-top: 0;
}

/* Image */
.content-img {
  display: block;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 0;
  padding: 0 0px;
}

/* Text*/
.content-text {
  font-size: 16px;
  margin: 18px 0 0 0;
  max-width: 900px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: justify;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    margin: 24px 0;
  }

  .page-title {
    font-size: 28px;
    margin-bottom: 28px;
  }

  .movement {
    margin-bottom: 56px; /* small screen sketch -> Documentation spacing */
  }

  .section-title {
    font-size: 20px;
    margin: 0 0 32px 0;   /* small screen Documentation -> img spacing */
    padding-left: 16px;
  }

  .content-img {
    padding: 0 6px;
  }

  .content-text {
    padding-left: 16px;
    padding-right: 16px;
  }
}